management:
  endpoints:
    web:
      exposure:
        include: health, metrics, retries
  endpoint:
    health:
      show-details: always

custom-sla:
  shortRetry:
    initial-interval: 50
    multiplier: 1.5
    randomization-factor: 0.5

resilience4j.retry:
  instances:
    shortRetry:
      max-attempts: 3
    normalRetry:
     max-attempts: 2
  retry-aspect-order: 2

resilience4j.circuitbreaker:
  circuit-breaker-aspect-order: 3
  instances:
    normalCB:
      sliding-window-size: 2
      minimum-number-of-calls: 2
      failure-rate-threshold: 50
      wait-duration-in-open-state: 20
      registerHealthIndicator: true

