management:
  endpoints:
    web:
      exposure:
        include: health, metrics, retries
  endpoint:
    health:
      show-details: always

custom-sla:
  shortRetry:
    initial-interval: 50
    multiplier: 1.5
    randomization-factor: 0.5

resilience4j.retry:
  configs:
    defaults:
      max-attempts: 3
  instances:
    shortRetry:
      base-config: defaults
    normalRetry:
      base-config: defaults
