management:
  endpoints:
    web:
      exposure:
        include: health, metrics, retries
  endpoint:
    health:
      show-details: always

custom-sla:
  shortRetry:
    initial-interval: 50
    multiplier: 1.5
    randomization-factor: 0.5

resilience4j.retry:
  instances:
    shortRetry:
      max-attempts: 3
    normalRetry:
     max-attempts: 2
  retry-aspect-order: 2

resilience4j.circuitbreaker:
  circuit-breaker-aspect-order: 3
  configs:
    default :
      registerHealthIndicator: true
      slidingWindowType: COUNT_BASED
      slidingWindowSize: 2
      minimumNumberOfCalls: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 20s
      permittedNumberOfCallsInHalfOpenState: 3
      automaticTransitionFromOpenToHalfOpenEnabled: true
      record-failure-predicate: com.fnkcode.circuitbraker.CourierExceptionsForResillience4jPredicate
